<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AmbiWidget-IOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>TodayExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6250EC3221A693C5004F4F59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6250EC4621A693C8004F4F59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6250EC5121A693C8004F4F59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6250EC6721A6953E004F4F59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
